**/.turbo
**/node_modules
**/coverage
**/.next
**/out
**/build
**/node_modules
**/dist
**/tsconfig.tsbuildinfo
**/.pnp
**/.pnp.js
**/.DS_Store
**/*.pem
**/*.log*
**/.env
**/.env.local
**/.env.*.local
**/.eslintrc.js
**/.prettierignore